<div class="section">
    <div class="container">
        
         <a href="#/produtos"><div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">PRODUTOS</div>
                <div class="panel-body">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
                </div>
                <div class="panel-footer">
                    <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                    <p>
                        <a href="#" class="btn btn-primary">Editar</a>
                        <br/>
                    </p>
                </div>
            </div>
         </div></a>
    </div>
</div>