<div class="section">
    <div class="container">
        
       
        
     <a href="#/produtos"><div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">PRODUTOS</div>
            <div class="panel-body">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
            </div>
            <div class="panel-footer">
                <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                <p>
                    <strong>TOTAL DE PRODUTOS: <span>0</span></strong>
                    <br/>
                </p>
            </div>
        </div>
     </div></a>
    
     <a href="#/clientes"><div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">ClIENTES</div>
            <div class="panel-body">
                <i class="fa fa-users" aria-hidden="true"></i>
                <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
            </div>
            <div class="panel-footer">
                <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                <p>
                    <strong>TOTAL DE CLIENTES: <span>0</span></strong>
                    <br/>
                </p>
            </div>
        </div>
     </div></a>
     
      <a href="#/cardapio"><div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">CARDÁPIO - APP</div>
            <div class="panel-body">
                <i class="fa fa-newspaper-o" aria-hidden="true"></i> <i class="fa fa-mobile" aria-hidden="true"></i>
                <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
            </div>
            <div class="panel-footer">
                <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                <p>
                    <strong>TOTAL DE PRODUTOS/CARDÁPIO APP: <span>0</span></strong>
                    <br/>
                </p>
            </div>
        </div>
     </div></a>
     
     <a href="#/usuariosapp"><div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">USUÁRIOS APP</div>
            <div class="panel-body">
               <i class="fa fa-users" aria-hidden="true"></i>  <i class="fa fa-mobile" aria-hidden="true"></i>
                <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
            </div>
            <div class="panel-footer">
                <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                <p>
                    <strong>TOTAL DE USUÁRIOS APP: <span>0</span></strong>
                    <br/>
                </p>
            </div>
        </div>
     </div></a>
        
    <a href="#/relatorios"><div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">RELATORIOS</div>
            <div class="panel-body">
               <i class="fa fa-line-chart" aria-hidden="true"></i>
                <!--<img ng-src="{{ post.photo }}" alt="{{ post.message }}" class="img-responsive {{ post.filter }}" />-->
            </div>
            <div class="panel-footer">
                <!--<img ng-src="{{ post.user.image }}" alt="{{ post.user.name }}" class="pull-right" width="48px" />-->
                <p>
                    <strong>RELATORIOS: <span>0</span></strong>
                    <br/>
                </p>
            </div>
        </div>
     </div></a>
    </div>    
<div>